.body-form{
    background-color: rgb(199, 198, 198);
    border-radius: 5px;
    padding: 20px;
    width: 400px;
    margin-left:442px;
}

.body-form span{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
}

.body-form span input{
    width: 90%;
    padding: 12px;
    border-radius: 4px;
}

.body-form h3{
    text-align: center;
}

.body-form hr{
    color: black;
    height: 2px;
    background-color: black;
    border:none;
}

.body-div-signin{
    text-align:center;
}

.button{
    width: 90%;
    padding: 12px;
    border-radius: 4px;
    background-color: yellow;
}

#icon{
    position: relative;
    z-index: 1;
    left: -25px;
    top: 1px;
    color: #7B7B7B;
    cursor:pointer;
    width: 0;
}

.errorMsg{
    
    background-color:red;
}